$bg-color: #272b3f;

$primary-color: #545a7a;
$secondary-color: #30344a;
$blue-color: #3e4259;
$red-color: #ff7c7c;

$input-bg: #383c53;

$modal-color: #383c53;
$modal-box-shadow: 0 4px 131px 0 rgba(0, 0, 0, 0.25);

$nav-shadow: 2px 0 47px 0 rgba(0, 0, 0, 0.15);
